/*CSS reset*/
*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

body {
 background-image: url('./assets/images/14.png');
 background-color: #161f22;
 background-size:100%;
 background-position:center;
 font-family: 'Roboto', sans-serif;
}

/******************* Navigation Bar *****************/
nav{
  font-family: 'Josefin Sans', sans-serif;
}

.nav-link{
 font-family: 'Poppins', sans-serif;
 font-size: 18px;
}

.nav-link:hover {
  background-color: #c88e36;
  font-size: 115%;
  color: white;
}

nav .active{
  background-color: #c88e36;
  font-size: 105%;
}

.nav-item{
  width: 100%;
  text-align: center;
  padding-right: 30px;
  padding-left: 30px;
}

/******************* Footer *****************/
footer{
 font-family: 'Roboto', sans-serif;
 text-align:justify;  
 text-justify:inter-word;
}



/******************* Page Title *****************/
.page-title{
  color: white;
  font-family: 'Poppins', sans-serif;

}

/******************* About Me main *****************/

.about-me{
  color: white;
}


/******************* Timeline *****************/
.main-timeline8{
  overflow:hidden;position:relative;
}

.main-timeline8:after,.main-timeline8:before{
  content:"";display:block;width:100%;clear:both;
}

.main-timeline8:before{
  content:"";width:3px;height:100%;background:#d6d5d5;position:absolute;top:30px;left:50%;
}

.main-timeline8 .timeline{
  width:50%;float:left;padding-right:30px;position:relative;
}

.main-timeline8 .timeline-icon{
  width:32px;height:32px;border-radius:50%;background:#fff;border:3px solid #FFA500;position:absolute;top:5.5%;right:-17.5px;
}

.main-timeline8 .year{display:block;padding:10px;margin:0;font-size:30px;color:#fff;border-radius:0 50px 50px 0;background:#FFA500;text-align:center;position:relative;}
.main-timeline8 .year:before{content:"";border-top:35px solid #D18700;border-left:35px solid transparent;position:absolute;bottom:-35px;left:0;}
.main-timeline8 .timeline-content{padding:30px 20px;margin:0 45px 0 35px;background:#f2f2f2;}

.main-timeline8 .title{font-size:19px;font-weight:700;color:#504f54;margin:0 0 10px;}
.main-timeline8 .description{font-size:14px;color:#7d7b7b;margin:0;}


.main-timeline8 .timeline:nth-child(2n){padding:0 0 0 30px}
.main-timeline8 .timeline:nth-child(2n) .timeline-icon{right:auto;left:-14.5px}
.main-timeline8 .timeline:nth-child(2n) .year{border-radius:50px 0 0 50px;background:#7A871E}
.main-timeline8 .timeline:nth-child(2n) .year:before{border-left:none;border-right:35px solid transparent;left:auto;right:0}
.main-timeline8 .timeline:nth-child(2n) .timeline-content{text-align:right;margin:0 35px 0 45px}
.main-timeline8 .timeline:nth-child(2){margin-top:170px}
.main-timeline8 .timeline:nth-child(odd){margin:-175px 0 0}
.main-timeline8 .timeline:nth-child(even){margin-bottom:80px}
.main-timeline8 .timeline:first-child,.main-timeline8 .timeline:last-child:nth-child(even){margin:0}

.main-timeline8 .timeline:nth-child(2n) .timeline-icon{border-color:#7A871E}
.main-timeline8 .timeline:nth-child(2n) .year:before{border-top-color:#104210}




.entry-img{
  height:300px;
  weight:;
}

@media only screen and (max-width:767px){.main-timeline8{overflow:visible}
.main-timeline8:before{top:0;left:0}
.main-timeline8 .timeline:nth-child(2),.main-timeline8 .timeline:nth-child(even),.main-timeline8 .timeline:nth-child(odd){margin:0}
.main-timeline8 .timeline{width:100%;float:none;padding:0 0 0 30px;margin-bottom:20px!important}
.main-timeline8 .timeline:last-child{margin:0!important}
.main-timeline8 .timeline-icon{right:auto;left:-14.5px}
.main-timeline8 .year{border-radius:50px 0 0 50px}
.main-timeline8 .year:before{border-left:none;border-right:35px solid transparent;left:auto;right:0}
.main-timeline8 .timeline-content{margin:0 35px 0 45px}