/*CSS reset*/
*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

body {
 background-image: url('./assets/images/BG003.jpg');
 background-color: #161f22;
 background-size:100%;
 background-position:center;
 font-family: 'Roboto', sans-serif;
}


nav{
  font-family: 'Josefin Sans', sans-serif;
}

.nav-link{
 font-family: 'Poppins', sans-serif;
 font-size: 18px;
}

.nav-link:hover {
  background-color: #c88e36;
  font-size: 115%;
  color: white;
}

nav .active{
  background-color: #c88e36;
  font-size: 105%;
}

.nav-item{
  width: 100%;
  text-align: center;
  padding-right: 30px;
  padding-left: 30px;
}


footer{
 font-family: 'Roboto', sans-serif;
 text-align:justify;  
 text-justify:inter-word;
}

/******************* Page Title *****************/
.page-title{
  color: white;
  font-family: 'Poppins', sans-serif;

}

/******************* Cards *****************/
.cards
{
  color: white;
  font-family: 'Roboto', sans-serif;

}