/*CSS reset*/
*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

body {
 background-image: url('./assets/images/14.png');
 background-color: #161f22;
 background-size:100%;
 background-position:center;
 font-family: 'Roboto', sans-serif;

}

h4 {
  font-family: 'Poppins', sans-serif;
}

nav{
  font-family: 'Josefin Sans', sans-serif;
}

.nav-link{
 font-family: 'Poppins', sans-serif;
 font-size: 18px;
}

.nav-link:hover {
  background-color: #c88e36;
  font-size: 115%;
  color: white;
}

nav .active{
  background-color: #c88e36;
  font-size: 105%;
}

.nav-item{
  width: 100%;
  text-align: center;
  padding-right: 30px;
  padding-left: 30px;
}

.logo{
  height:30px;
  width:45px;
}

footer{
 font-family: 'Roboto', sans-serif;
 text-align:justify;  
 text-justify:inter-word;
}

.page-title{
  color: white;
  font-family: 'Poppins', sans-serif;

}
/***Carousel***/

.carousel-caption{
  background: rgba(0,0,0,0.25)
}

.carousel-item{
  height: 500px;
}

.carousel-item img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*Mobile responsiveness*/
@media screen and (max-width: 640px) {
  .carousel-caption {
    font-size: 10px;
    transform: translateY(-50%);
  }

  h5{
    font-size: 11px;
  }

  .page-title h1{
    font-size:27px;
  }

  .article h4{
     font-size:16px;
     text-align:center;
     margin-top: 7px;
  }

  .article p{
    font-size:13px;
  }

.pecha03{
 max-height: 150px;
 max-width: 200px;
}

.pecha04{
  max-height: 150px;
  max-width: 101px;
}

  
}



/**Articles**/
.hc-image{
  width:200px;
}

.article{
  color:white;
}

.pecha03{
  width:300px;
}

.pecha04{
  height:225px;
}

.rtt-image{
  width:400px;
}