/*CSS reset*/
*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

body {
 background-image: url('./assets/images/BG003.jpg');
 background-color: #161f22;
 background-size:100%;
 background-position:center;
}


nav{
  font-family: 'Josefin Sans', sans-serif;
}

nav .active{
 font-family: 'Poppins', sans-serif;
 font-size: 18px;
}

nav .active:hover {
  background-color: #c88e36;
  font-size: 115%;

}

.nav-item{
	width: 100%;
	text-align: center;
	padding-right: 30px;
	padding-left: 30px;
}

.logo{
  height:19px;
  width:45px;
}

/*Modifications to description*/
.description h2{
	/*font-family: 'Permanent Marker', cursive;*/
	font-family: 'Fjalla One', sans-serif;
}
.description h1{
	font-family: 'Fjalla One', sans-serif;
}
.description h3{
	font-family: 'Fjalla One', sans-serif;
}

.description{
	color: white;
/*	background: rgba(255,255,255,0.25);*/
/*	text-shadow: 3px 3px #000000;*/
}


/********Overlays***********/

/* Main container */
.overlay-image {
  position: relative;
  width: 100%;
}

/* Original image */
.overlay-image .image {
  display: block;
  width: 100%;
  height: auto;
}

/* Original text overlay */
.overlay-image .text {
  color: #fff;
  font-size: 19px;
  line-height: 1.5em;
  text-shadow: 2px 2px 2px #000;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;

}


/********* Overlay on hover *******/

/* New overlay on hover */
.overlay-image .hover {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
}

/* New overlay appearance on hover */
.overlay-image:hover .hover {
  opacity: 1;
}

.overlay-image .normal {
  transition: .5s ease;
}
.overlay-image:hover .normal {
  opacity: 0;
}
.overlay-image .hover {
  background-color: rgba(0,0,0,0.5);
}


footer{
 font-family: 'Roboto', sans-serif;
 text-align:justify;  
 text-justify:inter-word;
}
